# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
# CM: we include the .idea directory itself to include code styles and inspection profiles.
.idea/*.xml
.idea/modules
.idea/.name
.idea/runConfigurations/*


# gradle
build
.gradle

# other
eclipse
run
# Exclude the root sources directory as we don't use this...
# IntelliJ may automatically generate them though...
src

# Files from Forge MDK
forge*changelog.txt
